.exp-heading{
    text-align: initial;
    border-left: 4px solid  #38b2ac;
    padding-left: 6px;
    color: #38b2ac;
    border-left-width: 4px;
    padding-left: .75rem;
    font-size: 1.25rem;
    font-weight: 700;
        @media (max-width: 767px){
            padding-left: 0px;
        }
}
.expData{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.exp-company{
    text-align: initial;
    letter-spacing: -0.025em;
    line-height: 0.625;
    color: #4a5568;
}
.eduction-role{
    text-align: initial;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: -.025em;
    line-height: 1.625;
    color: #4a5568;
}
.eduction-subtitle{
    text-align: initial;
    font-weight: 600;
    font-size: .875rem;
    color: #718096;
    letter-spacing: .025em;
}
.eduction-experience{
    text-align: initial;
    font-size: 16px;
}