
.skillsets{
    padding-top: 8px;
}

.progress-bar{
    text-align: left;
    padding-left: 32px;
    font-size: 14px;
}

.progress{
    display: flex;
    height: 1.5rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}