<div class="root-container">
    <div class="card text-center">
        <div class="card-header">
            <div class="resumeformtitle"> Resume: Small introduction</div> <div class="resumeform"> <a class="nav-link" [routerLink]="['resumeBuilder']" routerLinkActive="active">BUILD YOUR RESUME</a></div>
            <input type="button" class="btn btn-primary" value="Download" (click)="htmltoPDF()"/>

        </div>
        <!-- <div>
            <input type="button" class="btn btn-primary" value="Download" (click)="htmltoPDF()"/>
        </div> -->
        <div class="card-body" id="contentToConvert">
            <div class="basic-details">
                <div class="name-designation">
                    <div class="card-titles">{{resumeData.firstName +" "+ resumeData.lastName}}</div>
                    <div class="designation">{{resumeData.designation}}</div>
                </div>
                <div class="contact">
                    <div><img src="../../assets/gmail.png" alt="..." class="icon-thumbnail"> : <a href="mailto:{{resumeData.contact.email}}">{{resumeData.contact.email}}</a> </div>
                    <div (click)="openLinkedIn()"> <img src="../../assets/linkedin.png" alt="..." class="icon-thumbnail"> : {{resumeData.firstName + resumeData.lastName}}</div>
                    <div><img src="../../assets/phone.png" alt="..." class="icon-thumbnail"> : {{resumeData.contact.phone}}</div>
                    <div><img src="../../assets/location.png" alt="..." class="icon-thumbnail"> : {{resumeData.contact.location.city + ", " + resumeData.contact.location.state}}</div>
                </div>
            </div>
            <hr />
            <div class="about-me">
                <div *ngIf="resumeData.profileImage" class="profile-photo"><img [src]="resumeData.profileImage" alt="..." class="img-thumbnail" /></div>
                <div [ngClass]="{'full-width': !resumeData.profileImage}" class="introduction-section">
                    <p>{{resumeData.introduction}}</p>
                </div>
            </div>

            <hr />
            <div class="main-body">
                <div class="main-left">
                    <div class="experience">
                        <app-experience [experienceData]="resumeData.experience"></app-experience>
                    </div>
                    <div class="project">
                        <app-projects [projectData]="resumeData.project"></app-projects>
                    </div>

                </div>
                <div class="main-right">
                    <div class="skill">
                        <h5 class="skill-heading">Skills:</h5>
                        <div class="skilled" *ngFor="let val of resumeData.skills">
                            <app-skill [value]=val.technology [score]=val.rate></app-skill>
                        </div>
                    </div>
                    <div class="education">
                        <h5 class="education-heading">Education:</h5>
                        <div class="edudata" *ngFor="let val of resumeData.education">
                            <app-education [degree]=val.degree [stream]=val.stream [university]=val.university [year]= val.duration ></app-education>
                        </div>
                    </div>
                </div>

            </div>
            <hr />
            <app-footer></app-footer>
        </div>

    </div>
    <div class="card-footer text-muted">
        Drop your request invite here :  <a href="mailto:{{resumeData.contact.email}}">  send invite</a>
    </div>
</div>
