.root-container{
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: smooth; 
}

.card{
    padding: 20px 50px;
}

.card-body{
    border: 1px solid lightslategrey;
}

.card-header{
    color: ghostwhite;
    background-color: slategrey;
    font-size: 1rem;
    line-height: 1.25;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.resumeformtitle{
    padding-top: 8px;
}

.nav-link:hover {
    color: aqua;
    text-decoration: underline;
}
.nav-link {
    color: greenyellow;
    text-decoration: none;
    background-color: transparent;
}
.basic-details{
    display: flex;
    justify-content: space-between;
}

.name-designation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-titles{
    font-size: 3rem;
    letter-spacing: .025em;
    color: #38b2ac;
    line-height: 1.25;
    font-weight: 700;    
}

.designation{
    color: #234e52;
    font-size: 1.2rem;
    line-height: 1.625;
    font-weight: 300;
    letter-spacing: .1em;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
    border-left: 1px solid lightgrey;
    padding-left: 15px;
    font-size: .875rem;
    color: inherit;
    background-color: transparent;
    text-align: left;
}
.about-me{
display: flex;
}
.introduction{
    display: flex;
    width: 80%;
    text-align: initial;
    padding-top: 4%;
    font-size: 1.125rem;
    margin-left: 2rem;
    margin-right: 2rem;
    letter-spacing: .025em;
    line-height: 1.625;
}
.profile-photo{
    display: flex;
    width: 20%;
    padding-right: 27px;
}

.img-thumbnail{
    border-radius: 52%;
}
.icon-thumbnail{
    width: 6%;
}

.main-body{
    display: flex;
    justify-content: space-between;
}

.main-left{
    display: flex;
    flex-direction: column;  
    width:70%; 
}

.experience{
    display: flex;
    flex-direction: column;    
}

.project{
    display: flex;
    flex-direction: column; 
    padding-top: 36px;
}

.main-right{
    display: flex;
    border-left: 1px solid lightgrey;
    padding-left: 15px;
    width:30%; 
    flex-direction: column; 
}

.skill{
    display: flex;
    flex-direction: column; 
    padding-bottom: 8%;
}

.skill-heading{
    text-align: initial;
    border-left: 4px solid  #38b2ac;
    padding-left: 6px;
    color: #38b2ac;
    border-left-width: 4px;
    padding-left: .75rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.education{
    display: flex;
    flex-direction: column; 
}
.education-heading{
    text-align: initial;
    border-left: 4px solid  #38b2ac;
    padding-left: 6px;
    color: #38b2ac;
    border-left-width: 4px;
    padding-left: .75rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.card-footer{
    display: flex;
    justify-content: center;
}

.footer-icons{
    width: 3%;
}
@media (max-width: 767px){
.card{
    padding: 20px 25px;
}

.skill-heading {
    padding-left: 0px;
}

.basic-details{
    text-align: center;
    flex-direction: column;;
}
.name-designation{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact{
    border-left: 0px;
    padding-left: 0px;
    align-items: center;
    text-align: center;
}
.about-me{
    flex-direction: column;
}

.introduction{
    width: 100%;
    text-align: center;
    margin-left: 0.5rem; 
}
.profile-photo{
    padding: 4px 48px;
    width: 100%;
}
.main-body{
    flex-direction: column;
}
.main-left{
    width: 100%;
}
.project{
    padding-top: 19px;
    border-top: 1px solid lightgray;
}
.main-right{
    width:100%;
    border-left: 0px;
    border-top: 1px solid lightgray;
    padding-top: 19px;
    padding-left: 0px;
}
.skill-heading{
    padding-left: 8px;
}
.education{
    border-top: 1px solid lightgray;
    padding-top: 19px;
}
.card-footer{
    text-align: center;
}

}