<div class="home-page">
    <div class="home-page-heading">
        <h1>Resume Builder</h1>
    </div>
    <div class="home-page-content">
        <div class="home-page-content-links">
            <a routerLink="resume" class="nav-link" routerLinkActive="active">Sample Resume Template</a>
            <a routerLink="resumeBuilder" class="nav-link" routerLinkActive="active">Build your Resume</a>
        </div>
        <div class="home-page-content-image">
            <img class="resume-image" src="../../assets/resumeTemplate.PNG" alt="resume" />
        </div>
    </div>
</div>