.home-page {
    &-heading {

    }
    &-content {
        display: flex;
        &-links {
            width: 40%;
        }
        &-image {
            width: 60%;
            .resume-image {
                width: 100%;
                height: 500px;
            }
        }
    }
}